body {

  //rodapé da pagina
  footer {
    background: $footer__bg;
    padding-top: 50px;

    //div contendo o logo do rodapé
    .logo_container{

      padding: 10px 0;

      @include make-xs-column(5);
      @include make-sm-column(4);
      @include make-md-column(4);

      @include make-xs-column-offset(0);
      @include make-sm-column-offset(0);
      @include make-md-column-offset(0);

    }

    //div contendo midias socias
    #redes_sociais {

      padding: 10px 0;

      @include make-xs-column(7);
      @include make-sm-column(4);
      @include make-md-column(5);

      @include make-xs-column-offset(0);
      @include make-sm-column-offset(3);
      @include make-md-column-offset(3);

      #redes_sociais__container {

        > ul#redes-sociais__icons {
          float: right;

          > li {
            display: inline;
            float: left;
            margin-right: 5px;

            > a.icon {
              display: block;
              @extend .sprite_redes_sociais;

              &,
              &:hover {
                transition: all 0.2s linear;
              }

              &.icon--facebook {
                @include sprite-define(30px, 30px, -5px, -131px);
                &:hover {
                  background-position: -5px -89px;
                }
              }

              &.icon--twitter {
                @include sprite-define(30px, 30px, -5px, -551px);
                &:hover {
                  background-position: -5px -508px;
                }
              }

              &.icon--youtube {
                @include sprite-define(30px, 30px, -5px, -719px);
                &:hover {
                  background-position: -5px -677px;
                }
              }

              &.icon--gp {
                @include sprite-define(30px, 30px, -6px, -299px);
                &:hover {
                  background-position: -5px -257px;
                }
              }
            }

          }
        }
      }
    }

    //div contendo (todos os direitos reservados)
    .copy{

      @include make-xs-column(12);
      @include make-sm-column(12);
      @include make-md-column(12);

       >p{
         color: $white;
         font: $font_main;
         font-size: 14px;
         text-align: center;
       }
    }
  }
}