//fontes
$font_main: 'Oxygen'; // fonte
$darkgrey: #555;

//genericas
$body__bg: #fbfbfb;
$white: #fff; //branco
$blue: #24547F; //azul generico
$blue_hover: #24406B; // azul hover

//cadastro
$cadastro__bg: #2874a4; //bg cadastro
$cadastro__border: #3890d2; //border cadastro

//icon user
$icon_bg: #eee;
$icon_border: #ccc;

//footer
$footer__bg: #0D1F2B;